.videoContainer {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.video {
  width: 100%;
  height: auto;
  display: block;
}
